@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

/* sweet alert */

.layout-navbar {
    z-index: 9 !important;
}

.swal2-popup.swal2-toast.swal2-icon-success.swal2-show {
    z-index: 99999;
}

.swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 9999;
}

/* select 2 */

.select2.select2-container {
    width: 100% !important;
}

.select2-selection {
    border: 1px solid rgb(209, 207, 207) !important;
    padding: 5px !important;
    border-radius: 5px !important;
    width: 100% !important;
}

.select2-selection .select2-selection__choice {
    margin: 0 0 5px 5px !important;
    background-color: rgb(46, 168, 77) !important;
    border: none !important;
    color: #fff !important;
    padding: 3px !important;
}

.select2-selection .select2-selection__choice span {
    font-size: 14px !important;
}

.select2-selection__choice__remove {
    color: #fff !important;
}

/* icon of page */

.card-head-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.card-head-icon i {
    font-size: 30px;
}

.card-head-icon div {
    font-size: 20px;
}
